h1 {
  text-align: center;
}

table {
  text-align: left;
  border: 1px solid black;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th,
td {
  border: 1px dashed #aaa;
  padding: 1ch;
}
